.input {
  display: flex;
  flex-direction: column;
}

.input__label {
  font-size: var(--main-h2-font-size);
  display: block;
  margin-top: 30px;
  margin-bottom: 7px;
}

.input__text {
  height: 40px;
  width: 510px;
  border-radius: 10px;
  border-color: var(--main-row-border-color);
  font-size: 1.8rem;
  outline: none;
  border: 1px solid #e4e5ea;
  font-family: var(--font);
  margin-bottom: 2rem;
  padding: 5px 30px;
}


.input__editOccupantLabel{
  margin-bottom:0px;
  margin-top:7px;
}

