.tableRow {
  min-width: 550px;
  background: white;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.tableRow:hover {
  box-shadow: 0 2px 5px rgba(228, 228, 228, 0.19),
    0 3px 6px rgba(211, 211, 211, 0.23);
}

.tableRow td {
  font-size: 1.4rem;
  line-height: 17px;
  margin: 0;
  padding: 1rem;
  border: 0px;
  text-transform: capitalize;
}

.allocated {
  color: var(--green-color);
}

.unallocated {
  color: var(--red-color);
}

.inactive {
  color: #b1b9cc;
}
