.editApartmentFormContainer {
  width: 500px;
  height: 500px;
}

.editApartmentForm {
  font-size: var(--main-h2-font-size);
}

.editApartmentForm input {
  height: 20px;
  width: 200px;
  margin-bottom: 0.5rem;
}

.editApartmentForm label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.bedroomCapacityWrapper {
  display: flex;
  justify-content: center;
}