.editApartmentFormContainer {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  margin-left: 30px;
}

.editApartmentForm {
  font-size: var(--main-h2-font-size);
}

.editApartmentForm input {
  height: 20px;
  width: 200px;
  margin-bottom: 0.5rem;
}

.editApartmentForm label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.bedroomCapacity__wrapper {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.bedroomCapacity__wrapper input {
  width: 35px;
  padding: 5px 10px;
}

#bedrooms {
  margin-right: 15px;
}

.textarea__wrapper {
  margin-top: 1.5rem;
}

.textarea__wrapper label {
  display: block;
  margin-right: 1rem;
}

.editApartmentForm__buttons {
  margin: 1.5rem 0;
}

.editApartmentForm__cancelButton {
  margin-right: 1rem;
  background-color: white;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.editApartmentForm__updateButton {
  background: var(--green-color);
  font-size: var(--main-h2-font-size);
  color: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 110px;
  margin-top: 2px;
  cursor: pointer;
}
