.apartmentForm {
  background: var(--main-bg-color);
  font-family: Open Sans;
}

.apartmentForm__div {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.apartmentForm__heading {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}

.formDivide {
  display: flex;
}

.formDivide > section {
  margin-right: 2rem;
}

.apartmentForm__createButton {
  background: var(--green-color);
  font-size: var(--main-h2-font-size);
  color: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  margin-top: 35px;
  margin-bottom: 50px;
}

#remarks {
  max-width: 510px;
  min-width: 510px;
  min-height: 100px;
  overflow: scroll;
}
