.apartmentForm {
  background: var(--main-bg-color);
  font-family: var(--font2);
}

.apartmentForm__div {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.apartmentForm__heading {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}

.formDivide {
  display: flex;
}

.formDivide > section {
  margin-right: 2rem;
}

.apartmentForm__createButton {
  background: var(--green-color);
  font-size: var(--main-h2-font-size);
  color: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.apartmentForm__remarks {
  max-width: 510px;
  min-width: 510px;
  min-height: 100px;
  overflow: scroll;
  border: 1px solid #e4e5ea;
  font-size: 1.8rem;
  outline: none;
  padding: 10px 30px;
}
