.apartmentForm {
  background: var(--main-bg-color);
}

.apartmentForm__div {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-left: 60px;
}

.apartmentForm__heading {
  font-size: 36px;
  line-height: 43px;
}

.formDivide {
  display: flex;
}

.formDivide > section {
  margin-right: 2rem;
}
