.apartment {
  background-color: var(--main-bg-color);
}

.apartment__div {
  margin-left: 6rem;
  margin-right: 6rem;
}

.apartment__heading {
  font-size: var(--main-h1-font-size);
  color: var(--main-h1-color);
  line-height: 43px;
  font-style: normal;
  font-weight: normal;
  margin-top: 64px;
  margin-bottom: 43px;
}

.formSearch {
  display: flex;
}

.fields {
  margin-top: 2.2rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.fields__th {
  font-size: var(--main-h2-font-size);
}
