.page {
  background-color: var(--main-bg-color);
  width: 100%;
}

.container {
  padding-left: 6rem;
  padding-right: 6rem;
  font-family: var(--font);
}

.header {
  font-size: var(--main-h1-font-size);
  color: var(--main-h1-color);
  line-height: 43px;
  font-style: normal;
  font-weight: 600;
  margin-top: 64px;
  margin-bottom: 43px;
}

.table {
  margin-top: 2.2rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.tableHeader {
  font-size: 1.3rem;
  font-weight: 600;
}
