.occupantFormContainer {
  background: var(--main-bg-color);
}

.occupantForm__heading {
  font-size: var(--main-h1-font-size);
  color: var(--main-h1-color);
  line-height: 43px;
  font-style: normal;
  font-weight: normal;
  margin-top: 64px;
  margin-bottom: 43px;
}

.occupantForm__createButton {
  background: var(--green-color);
  border: 0;
  border-radius: 10px;
}