.apartmentAssignTable {
  padding: 1rem;
  font-size: 1.3rem;
  border-collapse: separate;
  border-spacing: 0 1rem;
  overflow-y: scroll;
  display: inline-block;
  font-family: var(--font);
}

.apartmentAssignTable__row {
  border: 1px solid black;
  border-radius: 20px;
  background: rgb(245, 245, 245);
}

.apartmentAssignTable__row td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.apartmentAssignTable__row td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.visible th {
  text-align-last: left;
  padding: 0px 10px;
}

.apartmentAssignTable__row td {
  padding: 5px 10px;
  align-items: left;
}

.apartmentAssignTable__row button {
  background: grey;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
}

/* Please rename */
#occupantToAssign {
  margin-top: 18px;
  width: 60%;
  min-width: 170px;
  min-height: 30px;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-family: var(--font);
}

.dateContainer > input {
  padding: 0.4rem;
}

.dateContainer h2 {
  margin: 10px 0;
}

.dateContainer__buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.dateContainer__buttons button {
  text-decoration: none;
  outline: none;
  border: none;
  width: 50%;
}

.modalAssignButton {
  background-color: var(--green-color);
  color: white;
  border-radius: 20px;
  height: 23px;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 3.5px 20px;
}

.modalCancelButton {
  font-size: 1.3rem;
  background-color: white;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
