.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--main-bg-color);

  height: 100vh;
}

.heading1 {
  font-size: 4.5rem;
  color: var(--main-h1-color);
  margin-bottom: 40px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 3%;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm input {
  height: 65px;
  width: 400px;
  border: none;
}

.loginButton {
  background: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  font-size: 24px;
  font-weight: bold;
  border: none;
  height: 65px;
  width: 400px;
  margin-top: 60px;
  margin-bottom: 50px;
  cursor: pointer;
}

.loginButton:hover {
  background: linear-gradient(270deg, #1744e3 -54.31%, #a93dff 143.33%);
  color: var(--primary-button-hover-text-color);
}
