.container {
  background: var(--main-bg-color);
  font-family: var(--font);
  height: 100vh;
}

.heading1 {
  font-size: var(--title-font-size);
  color: var(--main-h1-color);
  margin-bottom: 40px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 3%;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm input {
  height: 65px;
  width: 400px;
  border: none;
}

.loginButton {
  background: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  font-size: 24px;
  font-weight: bold;
  border: none;
  height: 65px;
  width: 400px;
  margin-top: 60px;
  margin-bottom: 50px;
}
