.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--main-bg-color);
  font-family: var(--font);
  height: 100vh;
}

.heading1 {
  font-size: 4.5rem;
  color: var(--main-h1-color);
  margin-bottom: 40px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 3%;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm input {
  height: 65px;
  width: 400px;
  border: none;
}

.loginButton {
  background: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  font-size: 24px;
  font-weight: bold;
  border: none;
  height: 65px;
  width: 400px;
  margin-top: 60px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.004) 0px 2.18613px 3.04398px -3px,
    rgba(0, 0, 0, 0.008) 0px 5.25358px 7.31511px -3px,
    rgba(0, 0, 0, 0.01) 0px 9.89203px 13.7737px -3px,
    rgba(0, 0, 0, 0.01) 0px 17.6457px 24.5699px -3px,
    rgba(0, 0, 0, 0.016) 0px 33.0043px 45.9554px -3px,
    rgba(0, 0, 0, 0.02) 0px 79px 110px -3px;
}

.loginButton:hover {
  background: linear-gradient(270deg, #1744e3 -54.31%, #a93dff 143.33%);
  color: var(--primary-button-hover-text-color);
}
