.apartmentProfileContainer {
  background-color: var(--main-bg-color);
  font-family: var(--font2);
}

.apartmentProfile {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.apartmentProfile__backButton {
  font-size: var(--main-h2-font-size);
  color: var(--sidebar-font-color-inactive);
  text-decoration: none;
  cursor: pointer;
}

.apartmentProfile__headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.apartmentProfile__headingContainer span {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: auto;
  width: auto;
}

.apartmentProfile__status {
  margin-top: 3rem;
}

.active {
  color: var(--green-color);
}

.inactive {
  color: #b1b9cc;
}

.apartmentProfile__editDetailsButton {
  margin-top: 3rem;
  margin-left: 1rem;
  min-width: 50px;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: auto;
  cursor: pointer;
}

.apartmentProfile__heading {
  font-weight: normal;
  font-size: var(--main-h1-font-size);
  margin: 3rem 0 0 0;
  font-weight: 600;
}

.gridContainer {
  display: grid;
}

.apartmentProfile__header2 {
  font-size: 2.5rem;
  font-family: var(--font2);
  font-weight: 400;
}

.apartmentProfile__occupants {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-bottom: 80px;
}

.apartmentProfile__occupants th {
  font-size: var(--main-h2-font-size);
  font-weight: 600;
  margin: 1rem;
  padding-bottom: 8px;
  width: 200px;
}

.apartmentProfile__occupants td {
  font-size: var(--main-h2-font-size);
  text-align: center;
  background-color: white;
  padding: 10px;
}

.apartmentProfile__details {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  grid-gap: 80px;
  margin-bottom: 80px;
}

.apartmentProfile__details h2 {
  font-weight: normal;
  font-size: 1rem;
}

.apartmentProfile__details p {
  color: black;
  font-size: 1.6rem;
  margin: 0 auto;
}

.apartmentProfile__spaceDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}

.apartmentProfile__spaceDetails h2 {
  text-align: center;
}

.apartmentProfile__spaceDetails p {
  margin: 0.5rem;
  font-weight: 400;
  font-size: 3rem;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(193, 193, 193, 0.1),
    0 6px 6px rgba(162, 162, 162, 0.1);
  line-height: 80px;
  width: 80px;
  height: 80px;
}

.apartmentProfile__locationDetails {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin: 0 20px;
}

.apartmentProfile__locationDetails p {
  font-weight: 400;
  text-align: left;
  font-size: 1.6rem;
  color: black;
}

.apartmentProfile__landlordDetails {
  display: flex;
  flex-direction: column;
}

.apartmentProfile__bottomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.apartmentProfile__leases {
  border-spacing: 0;
  margin-bottom: 50px;
}

.apartmentProfile__leases h2 {
  font-size: 2.5rem;
  margin-top: 10rem;
}

.apartmentProfile__leases th {
  font-size: var(--main-h2-font-size);
  font-weight: 600;
  margin: 1rem;
  width: 200px;
  padding-bottom: 8px;
}

.apartmentProfile__leases td {
  font-size: var(--main-h2-font-size);
  text-align: center;
  height: 38px;
  background-color: white;
}

.apartmentProfile__remarks p {
  font-size: var(--main-h2-font-size);
  height: 50px;
  padding: 1rem;
  background-color: white;
  width: 50%;
  width: 80%;
}

.apartmentProfile__headerContainer {
  display: flex;
  height: 70px;
  align-content: center;
  vertical-align: middle;
  align-items: center;
}

.modalAddButton {
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  line-height: 50%;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  margin: 0 10px;
  background-color: var(--green-color);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.modalCloseButton {
  text-decoration: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 12px;
  font-size: 1.8rem;
  background-color: white;
  cursor: pointer;
}

#confirmationModal {
  cursor: pointer;
}

.futureOccupants td {
  color: var(--green-color);
}

.currentOccupants td {
  background-color: white;
}

.pastOccupants td {
  background-color: white;
  color: lightgrey;
}

#isConfirmationModalOpen {
  display: flex;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: var(--red-color);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 0.8rem;
  opacity: 0.8;
}
