.apartmentProfileContainer {
  background-color: var(--main-bg-color);
  font-family: Open Sans;
}
.apartmentProfile {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.apartmentProfile__backButton {
  font-size: var(--main-h2-font-size);
  text-decoration: none;
  color: var(--sidebar-font-color-inactive);
  cursor: pointer;
}

.apartmentProfile__headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apartmentProfile__editDetailsButton {
  min-width: 50px;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: 2.3rem;
  font-size: 1.1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.apartmentProfile__heading {
  font-weight: 600;
  font-size: var(--main-h1-font-size);
  font-family: var(--font2);
}

.gridContainer {
  display: grid;
}

.address {
  grid-column: 4/5;
}

.address p {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.country {
  grid-column: 1/4;
}

.country p {
  font-size: 2.5rem;
}

.apartmentProfile__header2 {
  font-size: 2.5rem;
  font-family: Open Sans;
  font-weight: 400;
}

.apartmentProfile__occupants {
  border-spacing: 0;
  margin-bottom: 50px;
}

.apartmentProfile__occupants th {
  font-size: var(--main-h2-font-size);
  font-weight: 600;
  margin: 1rem;
  padding-bottom: 8px;
  width: 200px;
}

.apartmentProfile__occupants td {
  font-size: var(--main-h2-font-size);
  text-align: center;
  background-color: white;
  padding: 10px;
}

.apartmentProfile__details {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 80%;
}

.apartmentProfile__details h2 {
  font-weight: normal;
  font-size: 1rem;
}

.apartmentProfile__details p {
  color: black;
  font-size: 1.6rem;
  margin: 0 auto;
}

.apartmentProfile__spaceDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}

.apartmentProfile__spaceDetails h2 {
  text-align: center;
}

.apartmentProfile__spaceDetails p {
  margin: 0.5rem;
  font-weight: 400;
  font-size: 3rem;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #b1b9cc;
  line-height: 80px;
  width: 80px;
  height: 80px;
}

.apartmentProfile__locationDetails {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin: 0 20px;
}

.apartmentProfile__locationDetails p {
  font-weight: 400;
  text-align: left;
  font-size: 1.6rem;
  color: black;
}

.apartmentProfile__landlordDetails {
  display: flex;
  flex-direction: column;
}

.apartmentProfile__bottomGrid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.apartmentProfile__leases {
  border-spacing: 0;
  margin-bottom: 50px;
}

.apartmentProfile__leases h2 {
  font-size: 2.5rem;
  margin-top: 10rem;
}

.apartmentProfile__leases th {
  font-size: var(--main-h2-font-size);
  font-weight: 600;
  margin: 1rem;
  width: 200px;
  padding-bottom: 8px;
}

.apartmentProfile__leases td {
  font-size: var(--main-h2-font-size);
  text-align: center;
  height: 38px;
  background-color: white;
}

.apartmentProfile__remarks p {
  font-size: var(--main-h2-font-size);
  height: 50px;
  padding: 1rem;
  background-color: white;
  width: 50%;
  width:80%;
}

.apartmentProfile__headerContainer {
  display: flex;
  height: 70px;
  align-content: center;
}

.modalAddButton {
  text-decoration: none;
  border: none;
  border-radius: 20px;
  margin: auto 10px;
  background-color: var(--green-color);
  color: white;
  font-size: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.modalCloseButton {
  text-decoration: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 12px;
  font-size: 1.8rem;
  background-color: white;
  cursor: pointer;
}

#confirmationModal {
  cursor: pointer;
}

.futureOccupants td {
  background-color: rgb(162, 252, 162);
}

.currentOccupants td {
  background-color: white;
}

.pastOccupants td {
  background-color: white;
  color: lightgrey;
}

#isConfirmationModalOpen {
  width: 16px;
  height: 16px;
  background: rgb(255, 109, 109);
  border-radius: 8px;
  color: white;
  border: none;
  text-align: center;
  align-items: center;
  padding: 0px;
}
