.confirmation__Modal {
  font-family: var(--font);
  font-size: var(--form-font-size);
  text-align: center;
  margin-top: 30px;
}

.button__Modal {
  text-align: center;
}

.button__Modal button {
  font-family: var(--font);
  font-size: var(--main-h2-font-size);
}

.cancelDelete__Modal {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.confirmDelete__Modal {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--red-color);
  color: var(--main-row-bg-color);
  border-radius: 30px;
  padding: 3.5px 30px;
  margin-left: 34px;
}

.roleSelector {
  margin: 2rem;
}
