.editOccupantFormContainer {
  width: 500px;
  height: 500px;
  font-family: var(--font2);
  margin: 30px;
}

.editOccupantForm__heading {
  text-align: center;
}

.editOccupantForm__flex {
  display: flex;
  justify-content: space-between;
}

.editOccupantForm__status {
  margin: 20px 0;
}

.editOccupantForm__statusLabel {
  font-size: 1.3rem;
}

.editOccupantForm__select {
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  padding: 0.5rem;
  outline: none;
}

.editOccupantForm__updateButton {
  background: var(--green-color);
  font-size: var(--main-h2-font-size);
  color: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  margin-top: 2px;
  margin-bottom: 30px;
  cursor: pointer;
}

.editOccupantForm__cancelButton {
  margin-right: 1rem;
  background-color: white;
  text-decoration: none;
  font-size: var(--main-h2-font-size);
  outline: none;
  border: none;
  cursor: pointer;
}

.editOccupantForm__remarks {
  max-width: 400px;
  min-width: 400px;
  min-height: 100px;
  overflow: scroll;
  border: 1px solid #e4e5ea;
  font-size: 1.8rem;
  font-family: var(--font2);
  outline: none;
  padding: 10px 30px;
  margin-bottom: 30px;
}
