.container {
  background: var(--sidebar-bg-color);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.headerContainer svg {
  width: 16px;
  height: 16px;
  background-size: cover;
  margin: 3px 10px 0 0;
  overflow: visible;
}

.header {
  display: flex;
  text-align: left;
  font-size: var(--sidebar-font-size);
  color: var(--sidebar-font-color-inactive);
  cursor: pointer;
  margin: 25px 20%;
  text-decoration: none;
}

.active {
  color: var(--sidebar-font-color-active);
  transition: 0.8s;
}

.apartmentIcon {
  background: url("../../assets/apartments.svg") no-repeat;
}

.occupantsIcon {
  background: url("../../assets/occupants.svg") no-repeat;
}

.addIcon {
  background: url("../../assets/add.svg") no-repeat;
}

.logoutIcon {
  background: url("../../assets/logout.svg") no-repeat;
}

.userManagementIcon {
  background: url("../../assets/userManagement.svg") no-repeat;
}
