.mainContainer {
  background-color: var(--main-bg-color);
  padding: 30px;
}

.profileContainer {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  height: 100vh;


  h2 {
    margin-top: -28px;
  }

  > div {
    background-color: white;
    margin: 30px 0 30px 30px;
    min-height: 260px;
    box-shadow: var(--main-shadow);
  }
}


.remarksCard {
  flex: 1 1 20%;
  max-width: 360px;
  height: 260px;

  p {
    font-size: var(--main-h2-font-size);
    line-height: 2.8rem;
    margin: 35px;
  }
}

.leaseCard {
  flex: 1 1 20%;
  max-width: 360px;
}
