:root {
  --main-bg-color: #fafafa;
  --main-h1-color: #3d3d3d;
  --main-h2-color: #000000;
  --main-h1-font-size: 3.6rem;
  --main-h2-font-size: 1.6rem;
  --main-h3-font-size: 1rem;
  --main-p-font-size: 1rem;
  --main-row-font-size: 1.4rem;
  --main-row-color: #212121;
  --main-row-bg-color: #ffffff;
  --main-row-border-color: #f7f8fc;
  --search-bar-placeholder-color: #b1b9cc;
  --sidebar-bg-color: #ffffff;
  --sidebar-font-color-active: #212121;
  --sidebar-font-color-inactive: #b1b9cc;
  --primary-button-bg-color: #ffffff;
  --primary-button-text-color: #000000;
  --primary-button-hover-text-color: #ffffff;
  --primary-button-font-size: 1.6rem;
  --placeholder-color: #b0b0b0;
  --green-color: #4acd89;
  --red-color: #fa575a;
  --main-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.05);
  --searchbar-font-size: 1.8rem;
  --sidebar-font-size: 2rem;
  --form-font-size: 1.8rem;
  --font: Avenir;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif;
  font-weight: normal;
}

input,
select,
textarea,
button {
  font-family: inherit;
  border: none;
}

h1 {
  font-size: var(--main-h1-font-size);
  margin: 0;
}

h2 {
  font-size: var(--main-h2-font-size);
}

h3 {
  font-size: var(--main-h3-font-size);
}

p {
  font-size: var(--main-p-font-size);
}
