.apartmentDetails {
  min-width: 550px;
  background: var(--main-row-bg-color);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.apartmentDetails:hover {
  box-shadow: 0 2px 5px rgba(228, 228, 228, 0.19),
    0 3px 6px rgba(211, 211, 211, 0.23);
}

.apartmentDetails__td {
  font-size: var(--main-row-font-size);
  color: var(--main-row-color);
  line-height: 17px;
  margin: 0;
  padding: var(--main-row-font-size);
  border: 0;
}
