.container {
  background-color: var(--main-bg-color);
  font-family: var(--font);
}

.occupantsList {
  padding-left: 6rem;
  padding-right: 6rem;
}

.header1 {
  font-size: 3.6rem;
  line-height: 43px;
  font-style: normal;
  font-weight: 600;
  margin-top: 64px;
  margin-bottom: 43px;
}

.header2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.table th {
  font-weight: 600;
}
