.changePasswordFormContainer {
  background: var(--main-bg-color);
  font-family: var(--font2);
}

.changePasswordForm {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.changePasswordForm__heading {
  font-size: var(--main-h1-font-size);
  color: var(--main-h1-color);
  margin-left: 60px;
  margin-bottom: 40px;
  font-weight: 600;
}

.changePasswordForm__createButton {
  background: var(--green-color);
  font-size: var(--main-h2-font-size);
  color: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  margin-left: 60px;
  margin-top: 35px;
  margin-bottom: 50px;
}
