.occupantProfile__backButton {
  font-size: var(--main-h2-font-size);
  text-decoration: none;
  color: var(--sidebar-font-color-inactive);
  cursor: pointer;
}

.occupantProfileContainer {
  background-color: var(--main-bg-color);
}

.occupantProfile {
  margin-left: 60px;
  margin-top: 20px;
}

.occupantProfile__header1 {
  font-weight: normal;
  font-size: var(--main-h1-font-size);
}

.occupantProfile__header2 {
  font-size: 2.5rem;
  margin-top: 10rem;
}

.occupantProfile__employeeId {
  width: 20%;
}

.occupantProfile__employeeId p {
  font-size: var(--main-h2-font-size);
  margin: 5px 0 50px 0;
  padding: 1rem;
  width:100%;
  background-color: white;
}

.stayHistory__headers th {
  font-size: var(--main-h2-font-size);
  margin: 1rem;
  padding: 20px;
}

.remarks__body {
  font-size: var(--main-h2-font-size);
  height: 50px;
  padding: 1rem;
  background-color: white;
}
