.container {
  background-color: var(--main-bg-color);
}

.profile {
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: var(--font2);
}

.backButton {
  font-size: var(--main-h2-font-size);
  text-decoration: none;
  color: var(--sidebar-font-color-inactive);
  cursor: pointer;
}

.header1Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.header1Container span {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: auto;
  width: auto;
  margin-top: 3rem;
}

.header1 {
  font-weight: normal;
  font-size: var(--main-h1-font-size);
  margin: 3rem 0 0 0;
  font-weight: 600;
}

.header2 {
  font-size: 2.5rem;
  margin-top: 10rem;
  font-weight: 400;
}

.editButton {
  margin-top: 3rem;
  margin-left: 1rem;
  min-width: 50px;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: auto;
  cursor: pointer;
}

.details h2 {
  font-weight: normal;
  font-size: 1rem;
  color: #767b86;
  margin: 1rem 0;
  text-transform: capitalize;
}

.table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.table th {
  font-size: var(--main-h2-font-size);
  margin: 1rem;
  width: 200px;
  font-weight: 600;
}

.table td {
  font-size: var(--main-h2-font-size);
  text-align: center;
  background-color: white;
  height: 3rem;
}

.remarks {
  font-size: var(--main-h2-font-size);
  height: 50px;
  padding: 1rem;
  background-color: white;
  width: 50%;
}

.allocated {
  color: var(--green-color);
}

.unallocated {
  color: var(--red-color);
}

.inactive {
  color: #b1b9cc;
}
