.occupantProfile__backButton {
  font-size: var(--main-h2-font-size);
  text-decoration: none;
  color: var(--sidebar-font-color-inactive);
  cursor: pointer;
}

.occupantProfileContainer {
  background-color: var(--main-bg-color);
}

.occupantProfile {
  margin-left: 6rem;
  margin-top: 2rem;
}

.occupantProfile__header1Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.occupantProfile__header1Container span {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: auto;
  width: auto;
}

.occupantProfile__header1 {
  font-weight: normal;
  font-size: var(--main-h1-font-size);
  margin: 3rem 0 0 0;
}

.occupantProfile__details {
  font-weight: normal;
  font-size: 1rem;
  color: #767B86;
  margin: 1rem 0;
}

.occupantProfile__header2 {
  font-size: 2.5rem;
  margin-top: 10rem;
}

.occupantProfile__employeeId {
  width: 20%;
}

.stayHistory__headers th {
  font-size: var(--main-h2-font-size);
  margin: 1rem;
  padding: 20px;
}

.remarks__body {
  font-size: var(--main-h2-font-size);
  height: 50px;
  padding: 1rem;
  background-color: white;
  width:50%;
  border-radius: 10px;
}

.occupantProfile__status {
  margin-top: 3rem;
}

.allocated {
  color: var(--green-color);
}

.unallocated {
  color: var(--red-color);
}

.inactive {
  color: #b1b9cc;
}

.occupantProfile__editDetailsButton {
  margin-top: 3rem;
  margin-left: 1rem;
  min-width: 50px;
  text-align: center;
  border:none;
  outline:none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  height: auto;
  cursor: pointer;
}
